fastapi
uvicorn
pydantic
pydantic-settings
elasticsearch
duckdb
python-dotenv
langchain
langchain-community
langchain-openai
ruff
websockets
httpx
s3fs
pandas
llama-cpp-python
huggingface_hub[cli]
pytest
alembic
sqlalchemy
